node_modules
.git
.github
apps/mobile
.gitignore
Dockerfile
.dockerignore
.vercelignore
*.md
.env
.env.*
.env.local
.env.local.example
.next/cache
packages/*/node_modules
packages/*/dist
packages/*/build
packages/*/.turbo
packages/*/.next/cache
apps/*/node_modules
apps/*/.next/cache
apps/*/build
.npm
.turbo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
coverage
test
tests
__tests__
cache
dist
build
.turboignore
*.swp
*.swo
