node_modules
.git
.github
*.md
.env
.env.*
.next/cache
packages/*/node_modules
packages/*/dist
packages/*/build
packages/*/.turbo
apps/*/node_modules
apps/*/.next/cache
apps/*/build
.npm
package-lock.json
*.log
.DS_Store
.vscode
.idea
coverage
test
tests
__tests__
cache
dist
build
